

*{

  dark-primary-color: #D32F2F;
  default-primary-color: #F44336;
  light-primary-color: #FFCDD2;
  text-primary-color: #FFFFFF;
  accent-color: #607D8B;
  primary-text-color: #212121;
  secondary-text-color: #757575;
  divider-color: #BDBDBD;

}

.root {
  -fx-background-color: accent-color;
}

#title
{
  -fx-font: 50px "Sans";
  -fx-text-fill: default-primary-color;
  -fx-label-padding: 4, 2,2,2,2;

}

.button {
  -fx-font: 30px "Arial";
  -fx-text-fill: secondary-text-color;
  -fx-effect: dropshadow(one-pass-box, black, 14, 0.0, 3, 3);
  -fx-background-color: default-primary-color;
  -fx-background-radius: 8;
}


.button:hover {
  -fx-background-color: dark-primary-color;
}
